<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<title>AniKit</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta property="og:title" content="REST API FREE">
<meta property="og:description" content="FEITA POR: @clovermods">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.8/font-awesome-animation.min.css" />
<link rel="apple-touch-icon" sizes="180x180" href="https://telegra.ph/file/e28fabcd7e856b4bcef0a.jpg">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="canonical" href="https://demo-basic.adminkit.io/">
<link href="https://fonts.googleapis.com/css2?family=Original+Surfer&amp;display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="https://ferdiz-afk.github.io/deskapp/vendors/styles/core.css">
<link rel="stylesheet" type="text/css" href="https://ferdiz-afk.github.io/deskapp/vendors/styles/icon-font.min.css">
<link rel="stylesheet" type="text/css" href="https://ferdiz-afk.github.io/deskapp/src/plugins/datatables/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://ferdiz-afk.github.io/deskapp/src/plugins/datatables/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://ferdiz-afk.github.io/deskapp/vendors/styles/style.css">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
<script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-119386393-1');
    </script>
<style>
     .tutotxt {
    }

    .fotos {
      width: 90%;
      border-radius: 7px;
    }

    .tutotxtt {
      margin: 7px;
      text-align: center;
    }

    .user-info {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    .user-photo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 13px;
    }

    .user-name {
      font-size: 18px;
      text-align: center;
    }
    
   .margem{
   margin-left: 7px;
   }
</style>
</head>
<body>
<div class="pre-loader">
<div class="pre-loader-box">
<div class="loader-logo">
<img src="https://i.ibb.co/DtFgv3g/giphy.webp" alt>
</div>
<div class="loader-progress" id="progress_div">
<div class="bar" id="bar1"></div>
</div>
<div class="percent" id="percent1">0%</div>
<div class="loading-text"> CARREGANDO... </div>
</div>
</div>
<div class="header">
<div class="header-left">
<div class="menu-icon dw dw-menu"></div>

<% if (user && user.isAdm) { %>
<div class="margem">
<div class="fas fa-users-cog" data-toggle="header_search"></div>
</div>
<div class="header-search">
<form>
<div class="form-group mb-0">
<hr>
 <a class="verp" href="/admin">Editar Usuários</a>
<hr> 
<% } else { %>

<% } %>

<div class="dropdown">

<div class="dropdown-menu dropdown-menu-right">
<div class="form-group row">
<label class="col-sm-12 col-md-2 col-form-label">From</label>
<div class="col-sm-12 col-md-10">
<input class="form-control form-control-sm form-control-line" type="text">
</div>
</div>
<div class="form-group row">
<label class="col-sm-12 col-md-2 col-form-label">To</label>
<div class="col-sm-12 col-md-10">
<input class="form-control form-control-sm form-control-line" type="text">
</div>
</div>
<div class="form-group row">
<label class="col-sm-12 col-md-2 col-form-label">Subject</label>
<div class="col-sm-12 col-md-10">
<input class="form-control form-control-sm form-control-line" type="text">
</div>
</div>
<div class="text-right">
<!--<button class="btn btn-primary">Search</button>-->
</div>
</div>
</div>
</div>
</form>
</div>
</div>

</div> 
</div>
</div>
</div>
<div class="right-sidebar">
<div class="sidebar-title">
<h3 class="weight-600 font-16 text-blue"> Layout Settings <span class="btn-block font-weight-400 font-12">User Interface Settings</span>
</h3>
<div class="close-sidebar" data-toggle="right-sidebar-close">
<i class="icon-copy ion-close-round"></i>
</div>
</div>
<div class="right-sidebar-body customscroll">
<div class="right-sidebar-body-content">
<h4 class="weight-600 font-18 pb-10">Header Background</h4>
<div class="sidebar-btn-group pb-30 mb-10">
<a href="javascript:void(0);" class="btn btn-outline-primary header-white active">White</a>
<a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Dark</a>
</div>
<h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
<div class="sidebar-btn-group pb-30 mb-10">
<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light ">White</a>
<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Dark</a>
</div>
<h4 class="weight-600 font-18 pb-10">Menu Dropdown Icon</h4>
<div class="sidebar-radio-group pb-10 mb-10">
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="sidebaricon-1" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-1" checked>
<label class="custom-control-label" for="sidebaricon-1">
<i class="fa fa-angle-down"></i>
</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="sidebaricon-2" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-2">
<label class="custom-control-label" for="sidebaricon-2">
<i class="ion-plus-round"></i>
</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="sidebaricon-3" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-3">
<label class="custom-control-label" for="sidebaricon-3">
<i class="fa fa-angle-double-right"></i>
</label>
</div>
</div>
<h4 class="weight-600 font-18 pb-10">Menu List Icon</h4>
<div class="sidebar-radio-group pb-30 mb-10">
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="sidebariconlist-1" name="menu-list-icon" class="custom-control-input" value="icon-list-style-1" checked>
<label class="custom-control-label" for="sidebariconlist-1">
<i class="ion-minus-round"></i>
</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="sidebariconlist-2" name="menu-list-icon" class="custom-control-input" value="icon-list-style-2">
<label class="custom-control-label" for="sidebariconlist-2">
<i class="fa fa-circle-o" aria-hidden="true"></i>
</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="sidebariconlist-3" name="menu-list-icon" class="custom-control-input" value="icon-list-style-3">
<label class="custom-control-label" for="sidebariconlist-3">
<i class="dw dw-check"></i>
</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="sidebariconlist-4" name="menu-list-icon" class="custom-control-input" value="icon-list-style-4" checked>
<label class="custom-control-label" for="sidebariconlist-4">
<i class="icon-copy dw dw-next-2"></i>
</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="sidebariconlist-5" name="menu-list-icon" class="custom-control-input" value="icon-list-style-5">
<label class="custom-control-label" for="sidebariconlist-5">
<i class="dw dw-fast-forward-1"></i>
</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
<input type="radio" id="sidebariconlist-6" name="menu-list-icon" class="custom-control-input" value="icon-list-style-6">
<label class="custom-control-label" for="sidebariconlist-6">
<i class="dw dw-next"></i>
</label>
</div>
</div>
<div class="reset-options pt-30 text-center">
<button class="btn btn-danger" id="reset-settings">Reset Settings</button>
</div>
</div>
</div>
</div>
<div class="left-side-bar">
<div class="brand-logo">
<a href="#">
<img src="https://telegra.ph/file/e28fabcd7e856b4bcef0a.jpg" alt class="dark-logo" style="width:600px;height:70px;">
<img src="https://telegra.ph/file/e28fabcd7e856b4bcef0a.jpg" alt class="light-logo" style="width:600px;height:70px;">
</a>
<div class="close-sidebar" data-toggle="left-sidebar-close">
<i class="ion-close-round"></i>
</div>
</div>
<div class="menu-block customscroll mCustomScrollbar _mCS_3">
<div class="sidebar-menu icon-style-1 icon-list-style-1">
<ul id="accordion-menu">
<li>
<a href="/" class="dropdown-toggle no-arrow">
<span class="micon bi bi-house"></span>
<span class="mtext">INICIAL</span>
</a>
</li>
<!-- Download -->
<li class="dropdown">
  <a href="javascript:;" class="dropdown-toggle" data-option="off">
    <span class="micon bi bi-device-hdd"></span>
    <span class="mtext">DOWNLOADER</span>
  </a>
  <ul class="submenu">
    <li>
    <a 
    href="/download/ytmp3?url=https://www.youtube.com/watch?v=7AlAYttGnAg&key=<%= userDb.key %>&username=<%= user.username %>"
    target="_blank">Youtube Audio</a>
    </li>
    <li>
<a 
    href="/download/ytmp4?url=https://www.youtube.com/watch?v=7AlAYttGnAg&key=<%= userDb.key %>&username=<%= user.username %>"
    target="_blank">Youtube Video</a>
    </li>
    <li>
<a  href="/yt/playmp3?query=vmz baka&key=<%= userDb.key %>&username=<%= user.username %>"
    target="_blank">Play MP3</a>
    </li>
   <li>
<a  href="/yt/playmp4?query=vmz baka&key=<%= userDb.key %>&username=<%= user.username %>"
    target="_blank">Play MP4</a>
    </li>
    <li>
<a  href="/download/pinterest?query=naruto&key=<%= userDb.key %>&username=<%= user.username %>"
    target="_blank">Pinterest</a>
    </li>
    <li>
<a class="dropdown-item" target="_blank"
                href="/18/video?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Video +18</a>
    </li>
    <li>
<a class="dropdown-item" target="_blank"
                href="/18/foto_18?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Foto +18</a>
    </li>
    <li>
<a class="dropdown-item" target="_blank"
                href="/18/travazap?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Foto pra
                perfil</a>
    </li>
    <li>
<a class="dropdown-item" target="_blank" href="/memes?username=<%= user.username %>&key=<%= user.key %>"
                target="_blank">memes</a>
    </li>
  </ul>
</li>

<li class="dropdown">
  <a href="javascript:;" class="dropdown-toggle" data-option="off">
    <span class="micon bi bi-emoji-smile"></span>
    <span class="mtext">WALLPAPER</span>
  </a>
  <ul class="submenu">
<a class="dropdown-item" target="_blank"
    href="/wallpaper/satanic?key=<%= userDb.key %>&username=<%= user.username %>">Wallpaper
    Satanic </a>
</li>

<a class="dropdown-item" target="_blank"
    href="/wallpaper/cyberspace?key=<%= userDb.key %>&username=<%= user.username %>">Wallpaper Cyberspace </a>
</li>

<a class="dropdown-item" target="_blank"
    href="/wallpaper/gaming?key=<%= userDb.key %>&username=<%= user.username %>">Wallpaper
    Gamer </a>
</li>

<a class="dropdown-item" target="_blank" href="/wallpaper/wallpapertec?key=<%= userDb.key %>&username=<%= user.username %>">
    Wallpaper Tecnológico</a>
</li>

<a class="dropdown-item" target="_blank" href="/wallpaper/ppcouple?key=<%= userDb.key %>&username=<%= user.username %>"
    target="_blank">PPcouple</a>
</li>

<a class="dropdown-item" target="_blank" href="/wallpaper/pubg?key=<%= userDb.key %>&username=<%= user.username %>"
    target="_blank">PUBG</a>
</li>

<a class="dropdown-item" target="_blank" href="/wallpaper/aesthetic?key=<%= userDb.key %>&username=<%= user.username %>"
    target="_blank">Aesthetic</a>
</li>

<a class="dropdown-item" target="_blank" href="/wallpaper/aesthetic?key=<%= userDb.key %>&username=<%= user.username %>"
    target="_blank">Wallpaper Aesthetic</a>
</li>

<a class="dropdown-item" target="_blank" href="/nime/anime?key=<%= userDb.key %>&username=<%= user.username %>"
    target="_blank">Wallpaper Anime</a>
</li>
  </ul>
</li>

<!-- Anime -->
<li class="dropdown">
  <a href="javascript:;" class="dropdown-toggle" data-option="off">
    <span class="micon bi bi-emoji-smile"></span>
    <span class="mtext">ANIME</span>
  </a>
  <ul class="submenu">
    <li><a href="/nime/cosplay?key=<%= userDb.key %>&username=<%= user.username %>">cosplay</a></li>
    <li><a href="/nime/waifu?key=<%= userDb.key %>&username=<%= user.username %>">waifu</a></li>
    <li><a href="/nime/waifu2?key=<%= userDb.key %>&username=<%= user.username %>">waifu2</a></li>
    <li><a href="/nime/shota?key=<%= userDb.key %>&username=<%= user.username %>">shota</a></li>
    <li><a href="/nime/loli?key=<%= userDb.key %>&username=<%= user.username %>">loli</a></li>
    <li><a href="/nime/yotsuba?key=<%= userDb.key %>&username=<%= user.username %>">yotsuba</a></li>
    <li><a href="/nime/shinomiya?key=<%= userDb.key %>&username=<%= user.username %>">shinomiya</a></li>
    <li><a href="/nime/yumeko?key=<%= userDb.key %>&username=<%= user.username %>">yumeko</a></li>
    <li><a href="/nime/tejina?key=<%= userDb.key %>&username=<%= user.username %>">tejina</a></li>
    <li><a href="/nime/chiho?key=<%= userDb.key %>&username=<%= user.username %>">chiho</a></li>
    <li><a href="/nime/shizuka?key=<%= userDb.key %>&username=<%= user.username %>">shizuka</a></li>
    <li><a href="/nime/boruto?key=<%= userDb.key %>&username=<%= user.username %>">boruto</a></li>
    <li><a href="/nime/kagori?key=<%= userDb.key %>&username=<%= user.username %>">kagori</a></li>
    <li><a href="/nime/kaga?key=<%= userDb.key %>&username=<%= user.username %>">kaga</a></li>
    <li><a href="/nime/kotori?key=<%= userDb.key %>&username=<%= user.username %>">kotori</a></li>
    <li><a href="/nime/mikasa?key=<%= userDb.key %>&username=<%= user.username %>">mikasa</a></li>
    <li><a href="/nime/akiyama?key=<%= userDb.key %>&username=<%= user.username %>">akiyama</a></li>
    <li><a href="/nime/hinata?key=<%= userDb.key %>&username=<%= user.username %>">hinata</a></li>
    <li><a href="/nime/minato?key=<%= userDb.key %>&username=<%= user.username %>">minato</a></li>
    <li><a href="/nime/naruto?key=<%= userDb.key %>&username=<%= user.username %>">naruto</a></li>
    <li><a href="/nime/nezuko?key=<%= userDb.key %>&username=<%= user.username %>">nezuko</a></li>
    <li><a href="/nime/yuki?key=<%= userDb.key %>&username=<%= user.username %>">yuki</a></li>
    <li><a href="/nime/hestia?key=<%= userDb.key %>&username=<%= user.username %>">hestia</a></li>
    <li><a href="/nime/emilia?key=<%= userDb.key %>&username=<%= user.username %>">emilia</a></li>
    <li><a href="/nime/itachi?key=<%= userDb.key %>&username=<%= user.username %>">itachi</a></li>
    <li><a href="/nime/elaina?key=<%= userDb.key %>&username=<%= user.username %>">elaina</a></li>
    <li><a href="/nime/madara?key=<%= userDb.key %>&username=<%= user.username %>">madara</a></li>
    <li><a href="/nime/sasuke?key=<%= userDb.key %>&username=<%= user.username %>">sasuke</a></li>
    <li><a href="/nime/deidara?key=<%= userDb.key %>&username=<%= user.username %>">deidara</a></li>
    <li><a href="/nime/sakura?key=<%= userDb.key %>&username=<%= user.username %>">sakura</a></li>
    <li><a href="/nime/tsunade?key=<%= userDb.key %>&username=<%= user.username %>">tsunade</a></li>
    <!-- Adicione outros itens de acordo com as cases -->
  </ul>
</li>
<!-- Nsfw -->
<li class="dropdown">
  <a href="javascript:;" class="dropdown-toggle" data-option="off">
    <span class="micon bi bi-emoji-heart-eyes"></span>
    <span class="mtext">NSFW</span>
  </a>
  <ul class="submenu">
    <li><a href="/nsfw/ahegao?key=<%= userDb.key %>&username=<%= user.username %>">ahegao</a></li>
    <li><a href="/nsfw/ass?key=<%= userDb.key %>&username=<%= user.username %>">ass</a></li>
    <li><a href="/nsfw/bdsm?key=<%= userDb.key %>&username=<%= user.username %>">bdsm</a></li>
    <li><a href="/nsfw/blowjob?key=<%= userDb.key %>&username=<%= user.username %>">blowjob</a></li>
    <li><a href="/nsfw/cuckold?key=<%= userDb.key %>&username=<%= user.username %>">cuckold</a></li>
    <li><a href="/nsfw/cum?key=<%= userDb.key %>&username=<%= user.username %>">cum</a></li>
    <li><a href="/nsfw/ero?key=<%= userDb.key %>&username=<%= user.username %>">ero</a></li>
    <li><a href="/nsfw/kasedaiki?key=<%= userDb.key %>&username=<%= user.username %>">kasedaiki</a></li>
    <li><a href="/nsfw/femdom?key=<%= userDb.key %>&username=<%= user.username %>">femdom</a></li>
    <li><a href="/nsfw/foot?key=<%= userDb.key %>&username=<%= user.username %>">foot</a></li>
    <li><a href="/nsfw/gangbang?key=<%= userDb.key %>&username=<%= user.username %>">gangbang</a></li>
    <li><a href="/nsfw/glasses?key=<%= userDb.key %>&username=<%= user.username %>">glasses</a></li>
    <li><a href="/nsfw/jahy?key=<%= userDb.key %>&username=<%= user.username %>">jahy</a></li>
    <li><a href="/nsfw/manga?key=<%= userDb.key %>&username=<%= user.username %>">manga</a></li>
    <li><a href="/nsfw/masturbation?key=<%= userDb.key %>&username=<%= user.username %>">masturbation</a></li>
    <li><a href="/nsfw/neko?key=<%= userDb.key %>&username=<%= user.username %>">neko</a></li>
    <li><a href="/nsfw/orgy?key=<%= userDb.key %>&username=<%= user.username %>">orgy</a></li>
    <li><a href="/nsfw/panties?key=<%= userDb.key %>&username=<%= user.username %>">panties</a></li>
    <li><a href="/nsfw/pussy?key=<%= userDb.key %>&username=<%= user.username %>">pussy</a></li>
    <li><a href="/nsfw/neko2?key=<%= userDb.key %>&username=<%= user.username %>">neko2</a></li>
    <li><a href="/nsfw/neko3?key=<%= userDb.key %>&username=<%= user.username %>">neko3</a></li>
    <li><a href="/nsfw/tentacles?key=<%= userDb.key %>&username=<%= user.username %>">tentacles</a></li>
    <li><a href="/nsfw/thighs?key=<%= userDb.key %>&username=<%= user.username %>">thighs</a></li>
    <li><a href="/nsfw/yuri?key=<%= userDb.key %>&username=<%= user.username %>">yuri</a></li>
    <li><a href="/nsfw/zettai?key=<%= userDb.key %>&username=<%= user.username %>">zettai</a></li>
    <!-- Adicione outros itens de acordo com as cases de NSFW -->
  </ul>
</li>

<hr>
<li class="dropdown">
<a href="javascript:;" class="dropdown-toggle" data-option="off">
<span class="micon bi bi-headset"></span>
<span class="mtext">SUPORTE 24/48</span>
</a>
<ul class="submenu">
<li>
<a href="https://wa.me/557598659560">WHATSAPP</a>
</li>
<li>
<a href="https://t.me/cinco_folhas">TELEGRAM</a>
</li>
</ul>
</li>
<hr>
<li>
<a href="/login" class="dropdown-toggle no-arrow">
<span class="micon bi bi-power-off"></span>
<span class="mtext">SAIR</span>
</a>
</li>

<li>
<li>
</li>
<li>
</li>
<li>
</li>
</ul>
</div>
</div>
</div>
<div class="main-container">
<div class="xs-pd-20-10 pd-ltr-20">
<div class="title pb-20">
<h2 class="h3 mb-0">PAINEL</h2>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
<div class="card-box height-100-p widget-style3">
<div class="d-flex flex-wrap">
<div class="widget-data">
<div class="weight-700 font-24 text-dark">Olá</div>
<div class="font-14 text-secondary weight-500"><%= user.username %>!</div>
</div>
<div class="widget-icon">
<div class="icon">
<i class="icon-copy fa fa-user faa-pulse animated faa-slow" aria-hidden="true"></i>
</div>
</div>
</div>
</div>
</div>

<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
<div class="card-box height-100-p widget-style3">
<div class="d-flex flex-wrap">
<div class="widget-data">
<div class="weight-700 font-24 text-dark">Saldo</div>
<div class="font-14 text-secondary weight-500"><%= userDb.saldo %></div>
</div>
<div class="widget-icon">
<div class="icon">
<i class="icon-copy fa fa-money faa-pulse animated faa-slow" aria-hidden="true"></i>
</div>
</div>
</div>
</div>
</div>

<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
<div class="card-box height-100-p widget-style3">
<div class="d-flex flex-wrap">
<div class="widget-data">
<div class="weight-700 font-24 text-dark">Total Requests</div>
<div class="font-14 text-secondary weight-500"><%= userDb.total %></div>
</div>
<div class="widget-icon">
<div class="icon">
<i class="icon-copy fa fa-database faa-pulse animated faa-slow" aria-hidden="true"></i>
</div>
</div>
</div>
</div>
</div>

<div class="col-xl-3 col-lg-3 col-md-6 mb-20">
<div class="card-box height-100-p widget-style3">
<div class="d-flex flex-wrap">
<div class="widget-data">
<div class="weight-700 font-24 text-dark">Apikey</div>
<div class="font-14 text-secondary weight-500"><%= userDb.key %></div>
</div>
<div class="widget-icon">
<div class="icon">
<i class="icon-copy fa fa-key faa-pulse animated faa-slow" aria-hidden="true"></i>
</div>
</div>
</div>
</div>
</div>

<% if (!user.isAdm === true) { %>


<% } else { %>
 <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
<div class="card-box height-100-p widget-style3">
<div class="d-flex flex-wrap">
<div class="widget-data">
<div class="weight-700 font-24 text-dark">Usuários</div>
<div class="font-14 text-secondary weight-500">
<!-- Inicia codigo Contador -->
<%= quantidade %>
<!-- Fim do codigo Contador -->
</div>
</div>
<div class="widget-icon">
<div class="icon">
<i class="icon-copy fa fa-users faa-pulse animated faa-slow" aria-hidden="true"></i>
</div>
</div>
</div>
</div>
</div>
<% } %>


</div>
</div>
<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
</div>
</div>              
 <form action="/keyerrada">
<div class="card card-round mt-5 stretch-card grid-margin">
<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
<h4 class="m-0 font-weight-bold text-warning">
<i
<h4>Top Usuários:</h4>
</div>
<div class="card-body">
  <div class="tutotxt"><br>
    <div class="tutotxtt">
      <center>
        <% topUsers.sort((a, b)=> b.total - a.total).forEach(function(user) { %><br>
          <a class="verp" href="/ver/<%= user.username %>">
            <div class="user-info">
              <img class="user-photo" src="<%= user.ft %>" alt="Foto do Usuário">
              <div class="user-name">@<%= user.username %>: Level <%= user.total %>
              </div>
            </div>
          </a>
          <hr><br>
          <% }); %>

      </center>
    </div>

  </div>
</div>
</div>
</form>
<script>

</script>
<script>
<div class="row">
<div class="col-md-4 mb-20">
<a href="#" class="card-box d-block mx-auto pd-20 text-secondary">
<div class="card-body">
<strong>LEIA:</strong>
<div class="row">
<div class="col-auto">
<ul>
<li>• Pro.</li>
<li>• </li>
</ul>
</div>
</div>
</div>
</a>
</div>
</div>
<div class="footer-wrap pd-20 mb-20 card-box"> Todos direitos reservados BY: <a href="https://t.me/cinco_folhas" target="_blank">CloverMods</a>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script> 

          
    </script>
<script>
      (function() {
        let batterySupported = document.getElementById("battery-supported"),
          batteryLevel = document.getElementById("battery-level"),
          chargingStatus = document.getElementById("charging-status")
        let success = function(battery) {
          if (battery) {
            function setStatus() {
              batteryLevel.innerHTML = Math.round(battery.level * 100) + "%";
              chargingStatus.innerHTML = (battery.charging) ? "⚡⚡" : "discharging";
              console.log("Set status " + batteryLevel.innerHTML + " " + chargingStatus.innerHTML);
            }
            // Set initial status
            setStatus();
            // Set events
            battery.addEventListener("levelchange", setStatus, false);
            battery.addEventListener("chargingchange", setStatus, false);
          } else {
            throw new Error('Battery API not supported on your device/computer');
          }
        };
        let noGood = function(error) {
          //  batterySupported.innerHTML = error.message;
        };
        navigator.getBattery() //returns a promise
          .then(success)
        //.catch(noGood);
      })();
    </script>
<script>
      var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
      };
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://ferdiz-afk.github.io/deskapp/vendors/scripts/core.js"></script>
<script src="https://ferdiz-afk.github.io/deskapp/vendors/scripts/script.min.js"></script>
<script src="https://ferdiz-afk.github.io/deskapp/vendors/scripts/process.js"></script>
<script src="https://ferdiz-afk.github.io/deskapp/vendors/scripts/layout-settings.js"></script>
<script src="https://ferdiz-afk.github.io/deskapp/src/plugins/apexcharts/apexcharts.min.js"></script>
<script src="https://ferdiz-afk.github.io/deskapp/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="https://ferdiz-afk.github.io/deskapp/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="https://ferdiz-afk.github.io/deskapp/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
<script src="https://ferdiz-afk.github.io/deskapp/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
<script src="https://ferdiz-afk.github.io/deskapp/vendors/scripts/dashboard.js"></script>
</body>
</html>
