<!DOCTYPE html>
<html>
<head>
  <title><%= manga.name %></title>
  <link rel="stylesheet" href="/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    /* Estilos existentes */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      background-color: #1e272e; /* cinza escuro */
      color: #dfe6e9; /* branco sujo */
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.6;
      padding: 20px;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
    }
    .manga {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    .capa {
      width: 150px; /* Reduzindo o tamanho da foto para a versão mobile */
      height: auto;
      border-radius: 5px;
      margin-right: 20px;
    }
    .infomanga {
      flex: 1;
    }
    .titulo {
      font-size: 36px;
      margin-bottom: 5px; /* Reduzindo a margem inferior do título */
      color: #a29bfe; /* roxo */
    }
    .descricao {
      font-size: 16px; /* Reduzindo o tamanho da fonte para a versão mobile */
      margin-bottom: 5px;
    }
    a {
      color: #0984e3; /* azul */
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    .input, .upimg {
      width: calc(100% - 40px);
      max-width: 300px;
      height: 30px;
      background-color: #34495e; /* cinza escuro */
      color: white;
      border: none;
      border-radius: 5px;
      padding: 5px;
      margin: 10px 0;
    }
    label {
      font-size: 18px;
      display: block;
      margin-bottom: 5px;
    }
    button {
      background-color: #6c5ce7; /* roxo */
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 18px;
      cursor: pointer;
      margin-top: 10px;
    }
    button:hover {
      background-color: #a29bfe; /* roxo claro */
    }
    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 20px;
    }
    li {
      background-color: #2d3436; /* cinza escuro */
      margin-bottom: 10px;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid #34495e; /* cinza escuro */
    }
    h3 {
      font-size: 21px;
      margin-bottom: 5px;
      color: #dfe6e9; /* branco sujo */
    }
    @media (max-width: 600px) {
      .capa {
        width: 100%;
        max-width: none;
        margin-right: 0; /* Remover margem direita para a versão mobile */
        margin-bottom: 10px;
      }
      .titulo {
        font-size: 24px; /* Reduzindo o tamanho da fonte para a versão mobile */
        margin-bottom: 0; /* Removendo a margem inferior do título para a versão mobile */
      }
      .descricao {
        font-size: 14px; /* Reduzindo o tamanho da fonte para a versão mobile */
      }
      .manga {
        flex-direction: column; /* Alterando para layout de coluna para a versão mobile */
        align-items: center; /* Centralizando itens na versão mobile */
      }
      .infomanga {
        text-align: center; /* Centralizando texto para a versão mobile */
      }
    }
    .button {
      display: inline-block;
      background-color: #6c5ce7; /* roxo */
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      margin-right: 10px;
      text-decoration: none;
      transition: background-color 0.3s;
    }
    .button:hover {
      background-color: #a29bfe; /* roxo claro */
    }
    .delete {
      background-color: #d63031; /* vermelho */
    }
    .delete:hover {
      background-color: #ff7675; /* vermelho claro */
    }
    /* Estilo da barra de progresso */
    #progressWrapper {
      display: none;
      margin-top: 20px;
      width: 100%;
      background-color: #2d3436; /* cinza escuro */
      border-radius: 5px;
    }
    #progressBar {
      width: 0;
      height: 30px;
      background-color: #6c5ce7; /* roxo */
      border-radius: 5px;
      text-align: center;
      line-height: 30px;
      color: white;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="manga">
      <img class="capa" src="<%= manga.coverUrl %>" alt="<%= manga.name %>">
      <div class="infomanga">
        <h1 class="titulo"><%= manga.name %></h1>
        <p class="descricao">Descrição: <%= manga.description %></p>
        <p class="descricao">Tags: <%= manga.tags.join(', ') %></p>
      </div>
    </div>
    <ul>
      <% manga.chapters.sort((a, b) => a.chapterNumber - b.chapterNumber).forEach(chapter => { %>
          <h2 class="titulo">Capítulos</h2>
        <li>
          <h3>Capítulo <%= chapter.chapterNumber %></h3>
          <p><%= chapter.title %></p>
          <a href="/foto/<%= manga._id %>/chapters/<%= chapter.chapterNumber %>" class="button read">Ver Capítulo</a>
          <% if (isOwner) { %>
            <a href="/foto/<%= manga._id %>/deleteChapter/<%= chapter._id %>" onclick="return confirm('Tem certeza que deseja deletar o capítulo?')" class="button delete">Deletar Capítulo</a>
          <% } %>
        </li>
      <% }); %>
    </ul>
    <br><br>

    <% if (isOwner) { %>
      <a href="/foto/<%= manga._id %>/delete" onclick="return confirm('Tem certeza que deseja deletar o Catálogo?')">Deletar Catálogo</a>
    <% } %>
    <% if (isOwner) { %>
      <h2 class="titulo">Upload de Capítulo</h2>
      <form id="uploadForm" action="/foto/<%= manga._id %>/uploadChapter" method="post" enctype="multipart/form-data">
        <div>
          <label for="title">Título do Capítulo:</label>
          <input class="input" type="text" id="title" name="title" required>
        </div>
        <div>
          <label for="chapterNumber">Número do Capítulo:</label>
          <input class="input" type="number" id="chapterNumber" name="chapterNumber" required>
        </div>
        <div>
          <label for="images">Imagens do Capítulo:</label><br>
          <input class="upimg" type="file" id="images" name="images" multiple required>
        </div>
        <div>
          <button type="submit">Upload</button>
        </div>
        <div id="progressWrapper">
          <div id="progressBar">0%</div>
        </div>
      </form>
    <% } %>
  </div>
      <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = window.location.href;
            this.page.identifier = '<%= manga._id %>';
        };
        (function () {
            var d = document,
                s = d.createElement('script');
            s.src = 'https://trevo-mangas.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Ative o JavaScript para ver os comentários.</noscript>
    <br><br>
  <script>
    document.getElementById('uploadForm').addEventListener('submit', function (e) {
      e.preventDefault();
      
      var form = e.target;
      var formData = new FormData(form);
      var progressBar = document.getElementById('progressBar');
      var progressWrapper = document.getElementById('progressWrapper');
      
      var xhr = new XMLHttpRequest();
      xhr.open('POST', form.action, true);
      
      xhr.upload.onprogress = function (event) {
        if (event.lengthComputable) {
          var percentComplete = Math.round((event.loaded / event.total) * 100);
          progressBar.style.width = percentComplete + '%';
          progressBar.textContent = percentComplete + '%';
        }
      };
      
      xhr.onload = function () {
        if (xhr.status === 200) {
          // Verifique a resposta do servidor
          var response = JSON.parse(xhr.responseText);
          if (response.message === 'Capítulo adicionado com sucesso') {
            alert('Capítulo adicionado com sucesso!');
            window.location.reload();
          } else {
            alert('Erro ao fazer o upload do capítulo: ' + response.error);
          }
        } else {
          alert('Erro ao fazer o upload do capítulo.');
        }
      };
      
      xhr.onerror = function () {
        alert('Erro na rede ou no servidor.');
      };
      
      progressWrapper.style.display = 'block';
      xhr.send(formData);
    });
  </script>
</body>
</html>
